.store-banner-row {
    height: 415px;

    .store-banner {
        background: url("https://images.unsplash.com/photo-1526178613552-2b45c6c302f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80") no-repeat;
        background-size: cover;
        background-position: 50% 30%;
    }
}

.product-image {
    img {
        width: 100%;
    }
}
