/* ==========================================================================
	COLOR PICKER STYLES
========================================================================== */
.color-picker-group {
    .color-picker-val {
        width: 90px;
    }

    .popover-body {
        padding: 0;
    }
}

.quill-fg-color-picker {
    .popover-body {
        padding: 0;
    }

    button {
        outline: none;
        i {
            padding: 3px;
        }
    }
}
