/* ==========================================================================
	EMAIL BUILDER STYLES
========================================================================== */
@import "color-picker";

//Common
.z-input-number {
    padding: 0;
    border: 1px solid transparent;
    border-radius: 3px;
    margin: 0;
    background: #fff;
    position: relative;
    display: flex;
}
.z-input input {
    //border: 0;
    color: #41444d;
    padding: 0 15px 0 5px;
    font-size: 13px;
    width: 45px;
    min-height: 24px;
    border-radius: 3px;
}
.z-input-number .z-input-controls .z-input-controls-decrement,
.z-input-number .z-input-controls .z-input-controls-increment {
    cursor: pointer;
    position: absolute;
    height: 50%;
    right: 0;
    width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #444;

    &:hover {
        svg{
            fill: #000;
        }
    }
}
.z-input-number .z-input-controls .z-input-controls-decrement {
    bottom: 0;
}
.z-input-number .z-input-controls .z-input-controls-increment {
    top: 0;
}
//Multiselect

// .multiselect__option{
// 	padding: 0;
//     min-height: auto;
// }

// Body
.placeholder-dnd {
	display: none;
	height: 0;
	left: 1px;
	position: absolute;
	right: 1px;
	user-select: none;
	z-index: 100;
}
.placeholder-dnd .placeholder-dnd-content {
    position: absolute;
	background: #2c97de;
	bottom: -2px;
	left: 0;
	pointer-events: none;
	// position:  absolute;
	right: 0;
	top: 0;
}
.placeholder-dnd.dnd-top {
	top: 0;
}
.placeholder-dnd.dnd-bottom {
	bottom: 0;
}
.mj-body.dragging .draggable-section.hasPlaceholder .draggable-section-wrapper > .placeholder-dnd,
.mj-body.dragging .draggable-block.hasPlaceholder .draggable-block-wrapper > .placeholder-dnd {
	display:block;
}

.placeholder {
	width: 50px;
	height: 50px;
	background: #000;
	color: #000;
}

.draggable-area {
	min-height: 10px;
}

.retain {
	width: 100%;
	height: auto;
	background: #fff;
	color: #000;
}

.verte__menu{
	top: 25px;
    left: 0px;

}
.z-placeholder {
    height: $spacer * 2.5;
    background-color: $gray-300;
    border-radius: 5px;
	//@apply tw-h-10  tw-bg-grey-500 tw-rounded;
	&--mj-button{
		line-height: inherit;
		padding: 0 25px;
        display: flex;
        position: absolute;
        top:0;
        right: 0;
        bottom: 0;
        left: 0;
        font-size: $font-size-sm;
        background-color: $gray-500;
        pointer-events: none;
        border-radius: 0.25rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;


            //@apply d-flex tw-absolute tw-top-0 tw-right-0 tw-bottom-0 tw-left-0 tw-text-sm tw-text-grey-500;
		//@apply tw-pointer-events-none tw-whitespace-pre;

		//@apply tw-truncate; //overflow: hidden;text-overflow: ellipsis;white-space: nowrap
	}
}
.placeholder {
	&--mj-column{
        height: $spacer * 2.5;
        background-color: $gray-500;
        border-radius: 0.25rem;
        margin: $spacer * 3;
        //@apply tw-h-10  tw-bg-grey-500 tw-rounded tw-m-5;
	}
	&--mj-text{
        height: $spacer * 2.5;
        background-color: $gray-500;
        border-radius: 0.25rem;
		//@apply tw-h-10  tw-bg-grey-500 tw-rounded;
	}
}

.vc-chrome-controls {
    align-items: center;
}
.vc-chrome-alpha-wrap {
    display: none;
}
.vc-chrome-hue-wrap{
    margin-left: $spacer / 2;
    margin-bottom: 0 !important;
    //@apply tw-ml-2;
	//@apply mb-0 #{!important};
}
//.sortable-ghost {
//	display: none !important;
//	height:0px;
//
//	/*opacity: .5;*/
//	/*background: #C8EBFB;*/
//	border: 1px solid #000;
//	overflow: hidden;
//}

.test{
	background-color: #000;
}
.z-drag-chosen,
.sortable-chosen.sortable-ghost{
    opacity: .5;
	//@apply tw-opacity-50;
}
/*.z-after-drag-ghost {
    display: none !important;
    height:0px;
}*/
// Section
.draggable-section-hld {
	display: block !important;
}
//.draggable-section-hld.sortable-ghost{
//	display: none !important;
//	height:0px;
//
//	/*opacity: .5;*/
//	/*background: #C8EBFB;*/
//	border: 1px solid #000;
//	overflow: hidden;
//}
.draggable-section {
    position: relative;
	//@apply tw-relative;
}
.draggable-section.z-hovered{
	background: #eee;
}
.draggable-section>.draggable-overlay,
.draggable-column>.draggable-overlay {
    position: absolute;
	opacity: 0;
	// position:  absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	background: rgba(88,221,254,.2);
	transition: none;
	pointer-events: none;
}

.draggable-section.z-hovered:not(.z-locked):before,
.draggable-section.z-selected:not(.z-locked):before {
	content: "";
    display: block;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
	//@apply  tw-block w-100  tw-absolute  tw-top-0  tw-left-0;
    height: 2px;
	background-color: #58ddfe;
}
.draggable-section.z-hovered:not(.z-locked):after,
.draggable-section.z-selected:not(.z-locked):after {
	content: "";
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
	//@apply  tw-block w-100  tw-absolute  tw-bottom-0  tw-left-0;
	height: 2px;
	background-color: #58ddfe;
}
.draggable-section.z-hovered:not(.is-locked)>.draggable-section-wrapper:before,
.draggable-section.z-selected:not(.is-locked)>.draggable-section-wrapper:before {
	content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
	//@apply  tw-block tw-h-full  tw-absolute  tw-top-0  tw-left-0;
    width: 2px;
    background-color: #58ddfe;
}
.draggable-section.z-hovered:not(.is-locked)>.draggable-section-wrapper:after,
.draggable-section.z-selected:not(.is-locked)>.draggable-section-wrapper:after {
	content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
	//@apply  tw-block tw-h-full  tw-absolute  tw-top-0  tw-right-0;
    width: 2px;
    background-color: #58ddfe;
}

// Column
.draggable-column {
    position: relative;
	//@apply tw-relative;
}
.draggable-column.z-hovered:not(.z-locked):before,
.draggable-column.z-selected:not(.z-locked):before {
	content: "";
    display: block;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
	//@apply  tw-block w-100  tw-absolute  tw-top-0  tw-left-0;
    height: 2px;
    background-color: #fe9558;
}
.draggable-column.z-hovered:not(.z-locked):after,
.draggable-column.z-selected:not(.z-locked):after {
	content: "";
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
	//@apply  tw-block w-100  tw-absolute  tw-bottom-0  tw-left-0  tw-block;
	height: 2px;
    background-color: #fe9558;
}
.draggable-column.z-hovered:not(.is-locked)>.draggable-column-wrapper:before,
.draggable-column.z-selected:not(.is-locked)>.draggable-column-wrapper:before {
	content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
	//@apply  tw-block tw-h-full  tw-absolute  tw-top-0  tw-left-0;
    width: 2px;
    background-color: #fe9558;
}
.draggable-column.z-hovered:not(.is-locked)>.draggable-column-wrapper:after,
.draggable-column.z-selected:not(.is-locked)>.draggable-column-wrapper:after {
	content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
	//@apply  tw-block tw-h-full  tw-absolute  tw-top-0  tw-right-0;
    width: 2px;
    background-color: #fe9558;
}

.draggable-column>.draggable-column-inner-overlay {
	opacity: 1;
    position: absolute;
	//@apply  tw-absolute;
	z-index: 0;
    border: 10px solid rgba(42, 198, 236, 0.2);
    top: -10px;
    left: -10px;
    bottom: -10px;
    right: -10px;
    background: transparent;
	transition: none;
	pointer-events: none;
}
.draggable-column-select-helper{
	// transform: rotate(90deg);
	// transform-origin: left top 0;
    display: none;
	//@apply tw-hidden;
	width: 15px;
    background-color: #FFCAAC;
    position: absolute;
    left: -15px;
    height: 100%;
	border-radius: 5px 0px 0px 5px;
	// opacity: 0.5;
}
.draggable-column.z-mouse-entered:not(.is-locked) .draggable-column-select-helper,
.draggable-column.z-selected:not(.is-locked) .draggable-column-select-helper {
    display: block;
	//@apply  tw-block;
}

// Block
.draggable-block-hld {
	display: block !important;
}
.draggable-block-hld.z-after-drag-ghost {
    display: none !important;
    //height:0px;
}

/*.draggable-block-hld.sortable-ghost {
	display: none !important;
	height:0px;

	!*opacity: .5;*!
	!*background: #C8EBFB;*!
	border: 1px solid #000;
	overflow: hidden;
}*/
.draggable-block {
    position: relative;
	//@apply tw-relative;
}
.draggable-block.z-hovered:not(.z-locked):before,
.draggable-block.z-selected:not(.z-locked):before {
	content: "";
    display: block;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
	//@apply  tw-block w-100  tw-absolute  tw-top-0  tw-left-0;
    height: 2px;
    background-color: #fe9558;
}
.draggable-block.z-hovered:not(.z-locked):after,
.draggable-block.z-selected:not(.z-locked):after {
	content: "";
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
	//@apply  tw-block w-100  tw-absolute  tw-bottom-0  tw-left-0  tw-block;
	height: 2px;
    background-color: #fe9558;
}
.draggable-block.z-hovered:not(.is-locked)>.draggable-block-wrapper:before,
.draggable-block.z-selected:not(.is-locked)>.draggable-block-wrapper:before {
	content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
	//@apply  tw-block tw-h-full  tw-absolute  tw-top-0  tw-left-0;
    width: 2px;
    background-color: #fe9558;
}
.draggable-block.z-hovered:not(.is-locked)>.draggable-block-wrapper:after,
.draggable-block.z-selected:not(.is-locked)>.draggable-block-wrapper:after {
	content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
	//@apply  tw-block tw-h-full  tw-absolute  tw-top-0  tw-right-0;
    width: 2px;
    background-color: #fe9558;
}

.placeholder--mj-button{

}
// .pp-build-view .mj-column.mj-column-1 .mj-button.is-empty .ContentEditable,
.mj-column .mj-button.is-empty .cnt-editable {
    min-width: 160px;
}
