/* ==========================================================================
	QUILL STYLES
========================================================================== */
.ql-editor,
.mj-button-hld .mj-button {
	font-family: "Ubuntu";
}
.ql-snow .ql-formats {
    display: flex !important;
    //@apply d-flex #{!important};
    // vertical-align: middle;
}
.ql-toolbar.ql-snow {
    font-family: inherit !important;
}

.ql-toolbar {
    .multiselect {
        min-height: auto;

        .multiselect__content-wrapper {
            width: 240px;
        }
    }
    .multiselect__select {
        height: 100%;
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:before {
            display: inline-block;
            top: 0;
        }
    }
    .multiselect__tags {
        display: flex;
        align-items: center;
        min-height: auto;
        padding: 0px 20px 0px 0px;
        border: 1px solid transparent;
        height: 26px;
    }
    .multiselect__single {
        cursor: pointer;
        margin: 0;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

/* Set dropdown font-families */

.ql-font span[data-label="Sans Serif"]::before {
	font-family: "sans-serif";
}
.ql-font span[data-label="Inconsolata"]::before {
	font-family: "Inconsolata";
}
.ql-font span[data-label="Roboto"]::before {
	font-family: "Roboto";
}
.ql-font span[data-label="Mirza"]::before {
	font-family: "Mirza";
}
.ql-font span[data-label="Arial"]::before {
	font-family: "Arial";
}
.ql-font span[data-label="Arial Black"]::before {
	font-family: "Arial Black";
}
.ql-font span[data-label="Comic Sans MS"]::before {
	font-family: "Comic Sans MS";
}
.ql-font span[data-label="Courier New"]::before {
	font-family: "Courier New";
}
.ql-font span[data-label="Droid Sans"]::before {
	font-family: "Droid Sans";
}
.ql-font span[data-label="Georgia"]::before {
	font-family: "Georgia";
}
.ql-font span[data-label="Helvetica"]::before {
	font-family: "Helvetica";
}
.ql-font span[data-label="Impact"]::before {
	font-family: "Impact";
}
.ql-font span[data-label="Lato"]::before {
	font-family: "Lato";
}
.ql-font span[data-label="Lucida Console"]::before {
	font-family: "Lucida Console";
}
.ql-font span[data-label="Lucidasans Unicode"]::before {
	font-family: "Lucidasans Unicode";
}
.ql-font span[data-label="Open Sans"]::before {
	font-family: "Open Sans";
}
.ql-font span[data-label="Tahoma"]::before {
	font-family: "Tahoma";
}
.ql-font span[data-label="Times New Roman"]::before {
	font-family: "Times New Roman";
}
.ql-font span[data-label="Trebuchet Ms"]::before {
	font-family: "Trebuchet Ms";
}
.ql-font span[data-label="Ubuntu"]::before {
	font-family: "Ubuntu";
}
.ql-font span[data-label="Verdana"]::before {
	font-family: "Verdana";
}
/* Set content font-families */

.ql-font-inconsolata {
    font-family: "Inconsolata";
}
.ql-font-roboto {
	font-family: "Roboto";
}
.ql-font-covered-by-your-grace {
	font-family: "Covered By Your Grace";
}
.ql-font-mirza {
	font-family: "Mirza";
}
.ql-font-arial {
	font-family: "Arial";
}
.ql-font-arial-black {
	font-family: "Arial Black";
}
.ql-font-comic-sans-ms {
	font-family: "Comic Sans MS";
}
.ql-font-courier-new {
	font-family: "Courier New";
}
.ql-font-droid-sans {
	font-family: "Droid Sans";
}
.ql-font-georgia {
	font-family: "Georgia";
}
.ql-font-helvetica {
	font-family: "Helvetica";
}
.ql-font-impact {
	font-family: "Impact";
}
.ql-font-lato {
	font-family: "Lato";
}
.ql-font-lucida-console {
	font-family: "Lucida Console";
}
.ql-font-lucidasans-unicode {
	font-family: "Lucidasans Unicode";
}
.ql-font-open-sans {
	font-family: "Open Sans";
}
.ql-font-tahoma {
	font-family: "Tahoma";
}
.ql-font-times-new-roman {
	font-family: "Times New Roman";
}
.ql-font-trebuchet-ms {
	font-family: "Trebuchet Ms";
}
.ql-font-ubuntu {
	font-family: "Ubuntu";
}
.ql-font-verdana {
	font-family: "Verdana";
}
/* We do not set Sans Serif since it is the default font */
