<template>
    <div class="app">
        <!--<div class="">-->
            <!--<b-row class="store-banner-row">-->
                <!--<b-col sm="12" class="store-banner">-->
                <!--</b-col>-->
            <!--</b-row>-->
        <!--</div>-->

        <div class="container">
            <b-row class="checkout-section mt-5 mb-5">
                <b-col sm="12" class="">
                    <h3>Checkout</h3>

                    <b-list-group class="mt-3"  v-if="Object.keys(cartItems).length">
                        <b-list-group-item :key="product.id" v-for="product in cartItems">
                            <b-row class="products-meta mt-3 mb-3">
                                <b-col sm="3" class="product-title d-flex align-items-center ">
                                    <h6 class="font-weight-normal mb-0">{{ product.name }}</h6>
                                </b-col>
                                <b-col sm="3" class="products-cost d-flex align-items-center font-sm">
                                    <p class="m-0">Qty. {{ product.quantity }}</p>
                                </b-col>
                                <!--<b-col sm="3" class="products-cost d-flex align-items-center font-sm">-->
                                    <!--&lt;!&ndash;<p class="m-0">Qty. {{ product.quantity }}</p>&ndash;&gt;-->
                                <!--</b-col>-->
                                <b-col sm="6" class="products-cart d-flex justify-content-end align-items-center">
                                    <p class="m-0">{{ product.price }} {{ product.currency }}</p>

                                    <b-button :pill="true" variant="outline-danger" size="sm" @click="onRemoveFromCart(product)" class="ml-2">
                                        <i class="fa fa-remove"></i>
                                    </b-button>
                                </b-col>
                            </b-row>
                        </b-list-group-item>

                        <b-list-group-item>
                            <b-row class="products-meta mt-3 mb-3">
                                <b-col sm="9" class="product-title">
                                    <h6 class="mb-3 font-weight-bold">Total</h6>
                                </b-col>
                                <b-col sm="3" class="products-cart font-weight-bold text-right">
                                    {{ cartTotal }}
                                </b-col>
                            </b-row>
                        </b-list-group-item>
                    </b-list-group>

                </b-col>

                <div class="col-12 mt-4" v-if="Object.keys(cartItems).length">
                    <vue-ladda :loading="isOrderSubmitting"
                               class="btn btn-primary float-right"
                               @click="onConfirmOrder"><i class="fa fa-cart-arrow-down"></i> Confirm Order</vue-ladda>
                </div>

                <div class="col-12 mt-5" v-if="Object.keys(cartItems).length === 0">
                    <p class="p-3 font-weight-bold text-center">
                        Your cart is empty. <a href="#" @click="$router.push('/store')">Shop Now</a>
                    </p>
                </div>
            </b-row>

        </div>
    </div>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex'
    // import Product from '@/models/Product'
    import Order from '@/models/Order'

    export default {
        name: 'Checkout',
        data: () => {
            return {
                isOrderSubmitting: false,
                // products: [],
                // currentPage: 1,
                // perPage: 8,
                // totalRows: 0,
            }
        },
        computed: {
            cartItems: function () {
                return this.getCartItems();
            },
            cartTotal: function () {
                return this.getCartTotal();
            },
            cartItemCount: function () {
                return this.getCartItemCount();
            }
        },
        created () {
            // this.$store.dispatch('getUsers')
        },
        mounted () {
            // console.log('weg');
            // this.loadProducts();
            // if(this.isLoggedIn()) {
            //     this.$router.push('/');
            // }
        },
        components: {},
        methods: {
            ...mapGetters([
                'isLoggedIn',
                'getCartItems',
                'getCartTotal',
            ]),
            ...mapActions([
                'clearCart',
                'removeProductFromCart',
            ]),
            onRemoveFromCart(product) {
                this.removeProductFromCart({product});
                return true;
            },
            onConfirmOrder() {
                console.dir(this.cartItems);
                let that = this;
                this.isOrderSubmitting = true;

                let cartProducts = {};
                for (let productId in this.cartItems) {
                    let singleCartProduct = {
                        // id: this.cartItems[productId].id,
                        quantity: this.cartItems[productId].quantity,
                    };
                    cartProducts[this.cartItems[productId].id] = singleCartProduct;
                };
                // console.dir(productIds);
                // return;

                axios.post('/orders', {cartProducts})
                    .then(result => {
                        console.dir(result);
                        this.$toastr.success('Order Successfully Placed.', '', {
                            "positionClass": "toast-top-center",
                            "timeOut": "3000",
                        });

                        this.clearCart();

                        this.$router.push('/store');

                        this.isOrderSubmitting = false;
                    }).catch(err => {
                        // console.dir(err);
                        this.$toastr.error(err.response.data.error.message, '', {
                            "positionClass": "toast-top-center",
                            "timeOut": "3000",
                        });

                        this.isOrderSubmitting = false;
                    });
            },
            /*onClearCart() {
                this.clearCart();
            },*/
        }
    }
</script>
