<template>
    <div class="animated fadeIn" v-if="isPermissionsLoaded">
        <b-row>
            <b-col sm="6" lg="3" v-if="isUserCan()('edit-users')">
                <b-card no-body class="bg-primary">
                    <b-card-body class="pb-0">
                        <vue-element-loading :active="dashboardCountsLoading" spinner="bar-fade-scale" background-color="rgba(255, 255, 255, .3)" color="#FF6700"/>
                        <!--<b-dropdown class="float-right" variant="transparent p-0" right>-->
                            <!--<template slot="button-content">-->
                                <!--<i class="icon-settings"></i>-->
                            <!--</template>-->
                            <!--<b-dropdown-item>Manage Products</b-dropdown-item>-->
                        <!--</b-dropdown>-->
                        <h4 class="mb-0">{{ usersCount }}</h4>
                        <p>Users</p>
                    </b-card-body>
                </b-card>
            </b-col>

            <!--{{ isUserCan()('manage-producs') }}-->

            <b-col sm="6" lg="3" v-if="isUserCan()('edit-products')">
                <b-card no-body class="bg-info">
                    <b-card-body class="pb-0">
                        <vue-element-loading :active="dashboardCountsLoading" spinner="bar-fade-scale" background-color="rgba(255, 255, 255, .3)" color="#FF6700"/>
                        <b-dropdown class="float-right" variant="transparent p-0" right no-caret>
                            <template slot="button-content">
                                <i class="icon-settings"></i>
                            </template>
                            <b-dropdown-item @click="$router.push('/products')">Manage Products</b-dropdown-item>
                            <!--<b-dropdown-item>Add Product</b-dropdown-item>-->
                        </b-dropdown>
                        <h4 class="mb-0">{{ productsCount }}</h4>
                        <p>Products</p>
                    </b-card-body>
                </b-card>
            </b-col>

            <b-col sm="6" lg="3">
                <b-card no-body class="bg-warning">
                    <b-card-body class="pb-0">
                        <vue-element-loading :active="dashboardCountsLoading" spinner="bar-fade-scale" background-color="rgba(255, 255, 255, .3)" color="#FF6700"/>
                        <b-dropdown class="float-right" variant="transparent p-0" right no-caret>
                            <template slot="button-content">
                                <i class="icon-settings"></i>
                            </template>
                            <b-dropdown-item @click="$router.push('/orders')" >
                                {{ isUserCan()('manage-orders') ? 'Manage Orders' : 'View Orders' }}
                            </b-dropdown-item>
                            <!--<b-dropdown-item @click="$router.push('/orders')"  v-if="!isUserCan()('manage-orders')">View Orders</b-dropdown-item>-->
                        </b-dropdown>
                        <h4 class="mb-0">{{ ordersCount }}</h4>
                        <p>Orders</p>
                    </b-card-body>
                </b-card>
            </b-col>
        </b-row>

    </div>
</template>

<script>
    import { mapState, mapGetters, mapActions } from 'vuex'

    export default {
        name: 'dashboard',
        components: {},
        data: function () {
            return {
                usersCount: '-',
                ordersCount: '-',
                productsCount: '-',
                dashboardCountsLoading: false,
            }
        },
        computed: {
            ...mapGetters([
                'isPermissionsLoaded',
            ]),
        },
        created () {
            // this.$store.dispatch('getUsers')
            this.getPermissions();
        },
        mounted () {
            this.getDashboardCounts();
        },
        methods: {
            ...mapGetters([
                'isUserCan',
                // 'isPermissionsLoaded',
            ]),
            ...mapActions([
                'getPermissions',
            ]),
            getDashboardCounts() {
                let that = this;

                this.dashboardCountsLoading = true;
                axios.get('/dashboard')
                    .then(result => {
                        // console.dir(result);
                        that.usersCount = result.data.data.usersCount;
                        that.ordersCount = result.data.data.ordersCount;
                        that.productsCount = result.data.data.productsCount;
                        this.dashboardCountsLoading = false;
                    }).catch(err => {
                        this.dashboardCountsLoading = false;
                    });
            },
            /*flag(value) {
                return 'flag-icon flag-icon-' + value
            }*/
        }
    }
</script>

<style>
    /* IE fix */
    #card-chart-01, #card-chart-02 {
        width: 100% !important;
    }
</style>
