<template>
    <div class="animated fadeIn">
        <b-row>
            <b-col sm="12">
                <b-card header="Orders">
                    <vue-element-loading :active="isOrdersLoading" spinner="bar-fade-scale" background-color="rgba(255, 255, 255, .3)" color="#FF6700"/>
                    <b-table :dark="false" :hover="false" :striped="true" :bordered="false" :small="false" :fixed="false" responsive="sm" :items="loadOrders" :fields="fields" :current-page="currentPage" :per-page="perPage">
                        <template slot="id" slot-scope="data">
                            #{{ data.item.id }}
                        </template>
                        <template slot="status" slot-scope="data">
                            <b-badge :variant="orderStatusColor(data.item)">
                                {{ orderStatusLabel(data.item) }}
                            </b-badge>
                        </template>
                        <template slot="description" slot-scope="data">
                            <p>
                                {{ orderStatusDescription(data.item) }}
                            </p>
                        </template>
                        <template slot="actions" slot-scope="row">
                            <b-button size="sm" variant="outline-info" @click="row.toggleDetails" class="mr-2">
                                <i class="fa " :class="row.detailsShowing ? 'fa-eye-slash' : 'fa-eye'"></i>
                            </b-button>
                        </template>
                        <template slot="row-details" slot-scope="row">
                            <b-card>
                                <b-row class="mb-2">
                                    <b-col sm="12" class="">
                                        <b-row>
                                            <b-col sm="9" class="">
                                                <h5>Products</h5>
                                            </b-col>
                                            <b-col sm="3" class="" v-if="isPermissionsLoaded && isUserCan('manage-orders')">
                                                <!--:loading="isDestinationsLoading"-->
                                                <!--:disabled="isDestinationsLoading"-->
                                                <!--{{ row.item.status }}-->
                                                <!--v-model="row.item.status"-->
                                                <!--:value="statuses.filter(p => p.name === row.item.status)[0]"-->
                                                <multiselect :id="'orderStatusSelect-' + row.item.id"
                                                             :order-id="row.item.id"
                                                             :ref="'orderStatusSelect-' + row.item.id"
                                                             v-model="orderStatuses[row.item.id]"
                                                             :options="statuses"
                                                             track-by="label" label="label"
                                                             placeholder="Pick a status"
                                                             :searchable="false"
                                                             @select="onOrderStatusChange"
                                                             :allow-empty="false">
                                                    <!--<template slot="singleLabel" slot-scope="props">-->
                                                        <!--<span class="">-->
                                                            <!--{{ props.option.label }}-->
                                                        <!--</span>-->
                                                    <!--</template>-->
                                                    <template slot="option" slot-scope="props">
                                                        <div class="">
                                                            {{ props.option.label }}
                                                        </div>
                                                    </template>
                                                </multiselect>
                                            </b-col>
                                        </b-row>

                                        <b-list-group class="mt-3">
                                            <b-list-group-item :key="product.id" v-for="product in row.item.products">
                                                <b-row class="products-meta mt-3 mb-3">
                                                    <b-col sm="3" class="product-title d-flex align-items-center ">
                                                        <h6 class="font-weight-normal mb-0">{{ product.name }}</h6>
                                                    </b-col>
                                                    <b-col sm="3" class="products-cost d-flex align-items-center font-sm">
                                                        <p class="m-0">Qty. {{ product.pivot.quantity }}</p>
                                                    </b-col>
                                                    <b-col sm="6" class="products-cart d-flex justify-content-end align-items-center">
                                                        <p class="m-0">{{ product.price }} {{ product.currency }}</p>
                                                    </b-col>
                                                </b-row>
                                            </b-list-group-item>

                                            <b-list-group-item>
                                                <b-row class="order-meta mt-3 mb-3">
                                                    <b-col sm="12" class="order-total font-weight-bold text-right">
                                                        <h6 class="mb-3 ">
                                                            Total: <span class="font-weight-bold">{{ orderTotal(row.item.products) }}</span>
                                                        </h6>

                                                    </b-col>
                                                </b-row>
                                            </b-list-group-item>
                                        </b-list-group>
                                    </b-col>
                                </b-row>
                                <!--<b-button size="sm" class="float-right" @click="row.toggleDetails">Hide Details</b-button>-->
                            </b-card>
                        </template>
                    </b-table>
                    <nav>
                        <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
                    </nav>
                </b-card>
            </b-col>
        </b-row>

    </div>
</template>

<script>
    import Order from '@/models/Order'
    import cTable from '@/views/base/Table.vue'
    import { mapState, mapGetters, mapActions } from 'vuex'

    export default {
        name: 'orders',
        data: () => {
            return {
                orders: [],
                currentPage: 1,
                perPage: 8,
                totalRows: 0,
                fields: [
                    {key: 'id', label: 'ID', sortable: false},
                    {key: 'status', label: 'Status', class: 'text-center' },
                    {key: 'description', label: 'Description', class: 'text-left' },
                    {key: 'actions', label: 'Actions', class: 'text-center' },
                ],
                isOrdersLoading: false,
                orderStatuses: {},
                statuses: [
                    {
                        name: 'pending-payment',
                        label: 'Pending Payment',
                        description: 'Order received, no payment initiated. Awaiting payment (unpaid).',
                        color: 'info',
                    },
                    {
                        name: 'failed',
                        label: 'Failed',
                        description: 'Payment failed or was declined (unpaid).',
                        color: 'danger',
                    },
                    {
                        name: 'processing',
                        label: 'Processing',
                        description: 'Payment received (paid) and stock has been reduced; order is awaiting fulfillment.',
                        color: 'info',
                    },
                    {
                        name: 'completed',
                        label: 'Completed',
                        description: 'Order fulfilled and complete.',
                        color: 'success',
                    },
                    {
                        name: 'on-hold',
                        label: 'On-Hold',
                        description: 'Awaiting payment – stock is reduced.',
                        color: 'warning',
                    },
                    {
                        name: 'cancelled',
                        label: 'Cancelled',
                        description: 'Cancelled by an admin or the customer – stock is increased.',
                        color: 'danger',
                    },
                    {
                        name: 'refunded',
                        label: 'Refunded',
                        description: 'Refunded by an admin.',
                        color: 'info',
                    },
                ],
            }
        },
        computed: {
            ...mapGetters([
                'isPermissionsLoaded',
                'isUserCan',
            ]),
        },
        created () {
            // this.getPermissions();
        },
        mounted () {
            // this.loadOrders();
        },
        components: {cTable},
        methods: {
            /*...mapGetters([
            ]),*/
            ...mapActions([
                'getPermissions',
            ]),
            orderStatusColor(order) {
                let statusObj = this.statuses.filter(p => p.name === order.status);
                return statusObj[0].color;
            },
            orderStatusLabel(order) {
                let statusObj = this.statuses.filter(p => p.name === order.status);
                return statusObj[0].label;
            },
            orderStatusDescription(order) {
                let statusObj = this.statuses.filter(p => p.name === order.status);
                return statusObj[0].description;
            },
            onOrderStatusChange(selectedOption, id) {
                let that = this;
                let orderId = this.$refs[id].$attrs['order-id'];
                // console.dir(this.$refs[id].$attrs['order-id']);

                axios.put(`/orders/${orderId}`, {status: selectedOption.name})
                    .then(result => {
                        console.dir(result);
                        this.$toastr.success('Order status updated.', '', {
                            "positionClass": "toast-top-center",
                            "timeOut": "3000",
                        });

                        for(let index in that.orders) {
                            // console.log(index)
                            if(that.orders[index].id === orderId) {
                                // console.dir(that.orders[index])
                                Vue.set(that.orders[index], 'status', result.data.data.status);
                                break;
                            }
                        }

                        // let order = that.statuses.filter(p => p.id === orderId);
                        // Object.keys(that.orders).find(key => that.orders['id'] === orderId);

                        // Vue.set(order, order.status, result.data.data.status);

                        // this.isOrderSubmitting = false;
                    }).catch(err => {
                    // console.dir(err);
                    this.$toastr.error(err.response.data.error.message, '', {
                        "positionClass": "toast-top-center",
                        "timeOut": "3000",
                    });

                    // this.isOrderSubmitting = false;
                });

                return selectedOption;
            },
            loadOrders(paginationCtx) {
                // console.dir(paginationCtx);
                let that = this;
                this.isOrdersLoading = true;

                return Order
                        // let promise = axios.get('/orders');
                        // .where('type', destinationType)
                        .page(paginationCtx.currentPage)
                        .limit(paginationCtx.perPage)
                        .get()
                        // let result = axios.get('/orders')
                        .then(result => {
                            // console.dir(result);
                            that.orders = result.data;
                            that.totalRows = result.pagination.total;

                            result.data.map(order => {
                                let statusObj = that.statuses.filter(p => p.name === order.status);
                                // console.dir(statusObj);
                                Vue.set(that.orderStatuses, order.id, statusObj[0]);
                                // that.orderStatuses[order.id] = statusObj[0];
                                return order;
                            });

                            this.isOrdersLoading = false;

                            return result.data || []
                        }).catch(err => {
                            console.dir(err);

                            this.$toastr.error(err.response.data.error.message, '', {
                                "positionClass": "toast-top-center",
                                "timeOut": "3000",
                            });

                            this.isOrdersLoading = false;

                            return [];
                        });
            },
            orderTotal(products) {
                // console.dir(products);
                let orderTotal = 0;
                for (let i in products) {
                    orderTotal = orderTotal + (products[i].pivot.quantity * products[i].price);
                }
                return Math.round(orderTotal * 100) / 100;
            }
        }
    }
</script>
