<template>
    <div class="animated fadeIn">

        <b-row>
            <b-col sm="12">
                <b-card header="Products">
                    <vue-element-loading :active="isProductsLoading" spinner="bar-fade-scale" background-color="rgba(255, 255, 255, .3)" color="#FF6700"/>
                    <b-table :dark="false" :hover="false" :striped="true" :bordered="false" :small="false" :fixed="false" responsive="sm" :items="loadProducts" :fields="fields" :current-page="currentPage" :per-page="perPage">
                        <template slot="price" slot-scope="data">
                            {{ data.item.price }} {{ data.item.currency }}
                        </template>
                    </b-table>
                    <nav>
                        <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
                    </nav>
                </b-card>

                <!--<c-table :items="loadProducts" :fields="fields" striped-->
                         <!--:per-page="perPage"-->
                         <!--:total-rows="totalRows"-->
                         <!--caption="<i class='fa fa-square-o&#45;&#45;'></i> Products Table"></c-table>-->
            </b-col>
        </b-row>

    </div>
</template>

<script>
    import Product from '@/models/Product'
    import cTable from '@/views/base/Table.vue'

    export default {
        name: 'products',
        data: () => {
            return {
                products: [],
                currentPage: 1,
                perPage: 8,
                totalRows: 0,
                fields: [
                    {key: 'name', label: 'Name', sortable: false},
                    {key: 'description'},
                    {key: 'price', label: 'Cost', class: 'text-center'},
                ],
                isProductsLoading: false,
            }
        },
        mounted () {
            // console.log('weg');
            // this.loadProducts();
        },
        components: {cTable},
        methods: {
            loadProducts(paginationCtx) {
                // console.dir(paginationCtx);
                let that = this;
                this.isProductsLoading = true;

                return Product
                        // let promise = axios.get('/products');
                        // .where('type', destinationType)
                        .page(paginationCtx.currentPage)
                        .limit(paginationCtx.perPage)
                        .get()
                        // let result = axios.get('/products')
                        .then(result => {
                            // console.dir(result);
                            that.products = result.data;
                            // Vue.set(this.products, products.data);

                            that.totalRows = result.pagination.total;

                            this.isProductsLoading = false;

                            return result.data || []
                        }).catch(err => {
                            console.dir(err);

                            this.$toastr.error(err.response.data.error.message, '', {
                                "positionClass": "toast-top-center",
                                "timeOut": "3000",
                            });

                            this.isProductsLoading = false;

                            return [];
                        });

                // return products;
            },
        }
    }
</script>
