<template>
    <div class="app">
        <div class="">
            <b-row class="store-banner-row">
                <b-col sm="12" class="store-banner">
                </b-col>
            </b-row>
        </div>

        <div class="container">
            <b-row class="products-section mt-5">
                <b-col sm="3" class="products-list" :key="product.id" v-for="product in products">
                    <b-card no-body class="">
                        <b-card-body class="pb-0">
                            <b-row class="single-product-section">
                                <b-col sm="12" class="product-title">
                                    <h6 class="mb-3 font-weight-bold">{{ product.name }}</h6>
                                </b-col>
                                <b-col sm="12" class="product-image">
                                    <!--<img :src="'https://source.unsplash.com/400x400/?products&id=' + product.id" alt="">-->
                                    <img
                                        :src="'https://source.unsplash.com/collection/2249295/300x300?random=' + product.id"
                                        alt="">
                                </b-col>
                            </b-row>
                            <b-row class="products-meta mt-3 mb-3">
                                <b-col sm="6"
                                       class="products-cost font-weight-bold-- d-flex align-items-center font-sm">
                                    <p class="m-0">{{ product.price }} {{ product.currency }}</p>
                                </b-col>
                                <b-col sm="6" class="products-cart text-right">
                                    <!--<>Add to cart</>-->
                                    <b-button :pill="true" variant="outline-info" size="sm"
                                              @click="onAddToCart(product)" class="mr-0 font-2xl--">
                                        <i class="fa fa-cart-plus"></i>
                                    </b-button>
                                </b-col>
                            </b-row>
                        </b-card-body>
                    </b-card>
                </b-col>

                <b-col sm="12" class="text-center mb-5" v-if="!isLastPage">
                    <b-button :pill="true" variant="primary" size="sm"
                              :disabled="isProductsLoading"
                              @click="loadMoreProducts()" class="mr-0 ">
                        <i class="fa "></i> {{ isProductsLoading ? 'Please wait...' : 'Load More' }}
                    </b-button>
                </b-col>
            </b-row>
        </div>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'
    import Product from '@/models/Product'

    export default {
        name: 'Store',
        data: () => {
            return {
                products: [],
                currentPage: 1,
                perPage: 8,
                totalRows: 0,
                isProductsLoading: false,
            }
        },
        computed: {
            isLastPage() {
                if (this.totalRows <= (this.currentPage * this.perPage)) {
                    return true;
                } else {
                    return false;
                }
            },
        },
        created() {
            // this.$store.dispatch('getUsers')
        },
        mounted() {
            // console.log('weg');
            this.loadProducts();
            // if(this.isLoggedIn()) {
            //     this.$router.push('/');
            // }
        },
        components: {},
        methods: {
            ...mapGetters([
                'isLoggedIn',
            ]),
            ...mapActions([
                'addProductToCart',
            ]),
            loadMoreProducts() {
                if(this.isLastPage) {
                    return;
                }

                this.currentPage = this.currentPage + 1;

                this.loadProducts();
            },
            async loadProducts() {
                let that = this;
                this.isProductsLoading = true;

                await Product
                    .page(this.currentPage)
                    .limit(this.perPage)
                    .get()
                    // let result = axios.get('/products')
                    .then(result => {
                        // console.dir(result);
                        // that.products = result.data;
                        // Vue.set(this.products, products.data);
                        that.products = that.products.concat(result.data);

                        that.totalRows = result.pagination.total;

                        this.isProductsLoading = false;

                        // return result.data || []
                    }).catch(err => {
                        console.dir(err);

                        this.$toastr.error(err.response.data.error.message, '', {
                            "positionClass": "toast-top-center",
                            "timeOut": "3000",
                        });

                        this.isProductsLoading = false;
                    });
            },

            onAddToCart(product) {
                this.$toastr.success(`Product ${product.name} successfully added to cart.`, '', {
                    "positionClass": "toast-top-center",
                    "timeOut": "1000",
                });

                this.addProductToCart({product})
            },
        }
    }
</script>
