<template>
    <div class="app">
        <AppHeader fixed>
            <SidebarToggler class="d-lg-none" display="md" mobile/>
            <b-link class="navbar-brand" to="/">
                Kobe Shop
                <!--<img class="navbar-brand-full" src="img/brand/logo.svg" width="89" height="25" alt="CoreUI Logo">-->
                <!--<img class="navbar-brand-minimized" src="img/brand/sygnet.svg" width="30" height="30" alt="CoreUI Logo">-->
            </b-link>
            <SidebarToggler class="d-md-down-none" display="lg"/>

            <b-navbar-nav class="d-md-down-none">
                <b-nav-item class="px-3" to="/store">Visit Store</b-nav-item>
                <!--<b-nav-item class="px-3" to="/dashboard">Dashboard</b-nav-item>-->
                <!--<b-nav-item class="px-3" to="/users" exact>Users</b-nav-item>-->
                <!--<b-nav-item class="px-3" to="/products" exact>Products</b-nav-item>-->
                <!--<b-nav-item class="px-3" to="/orders" exact>Orders</b-nav-item>-->
            </b-navbar-nav>

            <b-navbar-nav class="ml-auto">
                <!--<b-nav-item class="d-md-down-none">-->
                <!--<i class="icon-bell"></i>-->
                <!--<b-badge pill variant="danger">5</b-badge>-->
                <!--</b-nav-item>-->
                <!--<b-nav-item class="d-md-down-none">-->
                <!--<i class="icon-list"></i>-->
                <!--</b-nav-item>-->
                <!--<b-nav-item class="d-md-down-none">-->
                    <!--&lt;!&ndash;<i class="icon-location-pin"></i>&ndash;&gt;-->
                    <!--Welcome, {{ authUser.name }}-->
                <!--</b-nav-item>-->
                <DefaultCartDropdown/>
                <DefaultHeaderDropdownAccnt/>
            </b-navbar-nav>
            <!--<AsideToggler class="d-none d-lg-block" />-->
            <!--<AsideToggler class="d-lg-none" mobile />-->
        </AppHeader>

        <div class="app-body">
            <AppSidebar fixed>
                <SidebarHeader/>
                <SidebarForm/>
                <SidebarNav :navItems="nav" v-if="isPermissionsLoaded"></SidebarNav>
                <SidebarFooter/>
                <SidebarMinimizer/>
            </AppSidebar>
            <main class="main">
                <Breadcrumb :list="list"/>
                <div class="container-fluid">
                    <router-view></router-view>
                </div>
            </main>

            <!--<AppAside fixed>-->
            <!--&lt;!&ndash;aside&ndash;&gt;-->
            <!--<DefaultAside/>-->
            <!--</AppAside>-->
        </div>
        <TheFooter>
            <!--footer-->
            <div>
                <a href="http://iamraja.com">Raja Munisamy</a>
                <span class="ml-1">&copy; 2018</span>
            </div>
            <div class="ml-auto">
                <span class="mr-1">Powered by</span>
                <a href="https://coreui.io">CoreUI for Vue</a>
            </div>
        </TheFooter>
    </div>
</template>

<script>
    import nav from '@/_nav'
    import {
        Header as AppHeader,
        SidebarToggler,
        Sidebar as AppSidebar,
        SidebarFooter,
        SidebarForm,
        SidebarHeader,
        SidebarMinimizer,
        SidebarNav,
        Aside as AppAside,
        AsideToggler,
        Footer as TheFooter,
        Breadcrumb
    } from '@coreui/vue'
    import DefaultAside from './DefaultAside'
    import DefaultHeaderDropdownAccnt from './DefaultHeaderDropdownAccnt'
    import DefaultCartDropdown from './DefaultCartDropdown'
    import {mapGetters, mapActions} from 'vuex'

    export default {
        name: 'DefaultContainer',
        components: {
            AsideToggler,
            AppHeader,
            AppSidebar,
            AppAside,
            TheFooter,
            Breadcrumb,
            DefaultAside,
            DefaultHeaderDropdownAccnt,
            DefaultCartDropdown,
            SidebarForm,
            SidebarFooter,
            SidebarToggler,
            SidebarHeader,
            SidebarNav,
            SidebarMinimizer
        },
        data() {
            return {
                // nav: nav.items
            }
        },
        created () {
            if(this.isLoggedIn()) {
                this.getPermissions();
            }
        },
        computed: {
            ...mapGetters([
                'isPermissionsLoaded',
                'authUser',
            ]),
            nav() {
                let navItems = nav.items.filter(item => {
                    if(item.meta && item.meta.requiredPermission) {
                        if(this.isUserCan()(item.meta.requiredPermission)) {
                            return true;
                        } else {
                            return false;
                        }
                    }
                    return true;
                });
                return navItems;
                return nav.items
            },
            name() {
                return this.$route.name
            },
            list() {
                return this.$route.matched.filter((route) => route.name || route.meta.label)
            }
        },
        methods: {
            ...mapGetters([
                'isLoggedIn',
                'getCartItemCount',
                'isUserCan',
            ]),
            ...mapActions([
                'getPermissions',
            ]),
        }
    }
</script>
