<template>
    <AppCartDropdown right no-caret>
        <template slot="header">
            <div class="d-md-down-none">
                <i class="fa fa-shopping-cart"></i>
                <b-badge pill variant="danger">{{ cartItemCount }}</b-badge>
            </div>
        </template>
        <template slot="dropdown" >
            <b-dropdown-header tag="div" class="text-center dropdown-menu-lg "><strong>Your Cart</strong></b-dropdown-header>
            <div class="row">
                <div class="col-12" v-if="!isLoggedIn()">
                    <p class="font-weight-bold text-center mt-2 mb-0 text-warning">Login to checkout</p>
                </div>
                <div class="col-12" v-for="cartItem in cartItems">
                    <div class="row p-3">
                        <div class="col-6">
                            <div class="p-3-">
                                {{ cartItem.name }}
                            </div>
                        </div>
                        <div class="col-3">
                            x {{ cartItem.quantity }}
                        </div>
                        <div class="col-3">
                            <b-button :pill="true" variant="outline-danger" size="sm" @click="onRemoveFromCart(cartItem)" class="mr-0 font-2xl--">
                                <i class="fa fa-remove"></i>
                            </b-button>
                        </div>
                    </div>
                </div>

                <div class="col-12" v-if="Object.keys(cartItems).length === 0">
                    <p class="p-3 font-weight-bold text-center">
                        <!--@click="$router.push('/store')"-->
                        Your cart is empty. <a href="#" @click="$router.push('/store')">Shop Now</a>
                    </p>
                </div>

                <div class="col-12" v-if="Object.keys(cartItems).length">
                    <div class="row p-3">
                        <div class="col-6">
                            <b-button :pill="true" variant="danger" size="sm" @click="onClearCart()" class="mr-0">
                                <i class="fa fa-trash"></i> Clear Cart
                            </b-button>
                        </div>
                        <div class="col-6">
                            <!--<b-button :pill="true" variant="primary" size="sm"-->
                                      <!--@click="$router.push('/login')" class="mr-0 float-right"-->
                                      <!--v-if="!isLoggedIn()">-->
                                <!--<i class="fa "></i> Login-->
                            <!--</b-button>-->
                            <b-button :pill="true" variant="primary" size="sm"
                                      @click="$router.push('/checkout')" class="mr-0 float-right"
                                        v-if="isLoggedIn()">
                                <i class="fa fa-cart-arrow-down"></i> Checkout
                            </b-button>
                        </div>
                    </div>
                </div>
            </div>

            <!--<b-dropdown-item><i class="fa fa-bell-o" /> Updates-->
            <!--<b-badge variant="info">{{ itemsCount }}</b-badge>-->
            <!--</b-dropdown-item>-->
            <!--<b-dropdown-item><i class="fa fa-envelope-o" /> Messages-->
            <!--<b-badge variant="success">{{ itemsCount }}</b-badge>-->
            <!--</b-dropdown-item>-->
            <!--<b-dropdown-item><i class="fa fa-tasks" /> Tasks-->
            <!--<b-badge variant="danger">{{ itemsCount }}</b-badge>-->
            <!--</b-dropdown-item>-->
            <!--<b-dropdown-item><i class="fa fa-comments" /> Comments-->
            <!--<b-badge variant="warning">{{ itemsCount }}</b-badge>-->
            <!--</b-dropdown-item>-->
        </template>
    </AppCartDropdown>
</template>

<script>
    import {HeaderDropdown as AppCartDropdown} from '@coreui/vue'
    import { mapGetters, mapActions } from 'vuex'

    export default {
        name: 'DefaultCartDropdown',
        components: {
            AppCartDropdown
        },
        data: () => {
            return {

            }
        },
        computed: {
            cartItems: function () {
                return this.getCartItems();
            },
            cartItemCount: function () {
                return this.getCartItemCount();
            }
        },
        mounted() {
          // console.log(this.isLoggedIn);
        },
        methods: {
            ...mapGetters([
                'isLoggedIn',
                'getCartItems',
                'getCartItemCount',
            ]),
            ...mapActions([
                'clearCart',
                'removeProductFromCart',
            ]),
            onClearCart() {
                this.clearCart();
            },
            onRemoveFromCart(product) {
                this.removeProductFromCart({product})

                return true;
            },
        }
    }
</script>
